@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*----------Custom Styles----------*/

/* Default Button */
@layer components {
  .defaultButton {
    @apply max-w-fit font-bold px-12 py-4 text-sm text-white bg-violet-1 rounded-full shadow-md focus:outline-none focus:ring-1 focus:ring-violet-1 focus:ring-opacity-75;
  }
  .defaultButton:hover {
    @apply bg-violet-2;
  }

  .defaultButton:active {
    @apply transform scale-95;
  }
}

/* Nav Link */
@layer components {
  .navLink {
    @apply text-white px-3 py-2 rounded-md font-medium;
  }

  .navLink:hover {
    @apply bg-gray-1;
  }
}

/* Title 1 */
@layer components {
  .h1Title {
    @apply text-gray-text text-center font-bold text-6xl;
  }
}

/* Default Page Text */
@layer components {
  .defaultPageText {
    @apply text-white text-xl font-bold text-center;
  }
}

/* Font Awesome Icons Spin on Hover */
@layer components {
  .fa-spin-hover:hover {
    -webkit-animation: fa-spin 2s infinite linear;
    -moz-animation: fa-spin 2s infinite linear;
    -o-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
  }
}
